# --- Android Studio / IntelliJ ---
.idea/
*.iml
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/
cmake-build-debug/

# --- Build Output ---
# This is the most important one!
build/
app/build/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Log files ---
*.log
